{% extends "games/base.html" %}

{% block title %}Usuń grę{% endblock %}

{% block content %}

<div class="card bg-secondary text-light border-0 shadow-sm">
    <div class="card-body">

        <h2>Usuń grę</h2>

        <p>Czy na pewno chcesz usunąć: <strong>{{ object.title }}</strong>?</p>

        <form method="post">
            {% csrf_token %}

            <div class="d-flex gap-2">
                <button type="submit" class="btn btn-outline-danger">Usuń</button>
                <a href="{% url 'game_list' %}" class="btn btn-outline-light">Anuluj</a>
            </div>
        </form>

    </div>
</div>

{% endblock %}