{% extends "games/base.html" %}

{% block title %}Formularz gry{% endblock %}

{% block content %}

<div class="card bg-secondary text-light border-0 shadow-sm">
    <div class="card-body">

        <h2 class="mb-4">Formularz gry</h2>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <div class="d-flex gap-2">
                <button type="submit" class="btn btn-dark">Zapisz</button>
                <a href="{% url 'game_list' %}" class="btn btn-outline-light">Anuluj</a>
            </div>
        </form>

    </div>
</div>

{% endblock %}